<DOCTYPE html>
<html>
<head>
<div class="page-header">
    <div class="header-container">
      <h1>Bagso</h1>
      <h3>Help people help people</h3>
    </div>
    <div class=new-task><%= link_to 'New Task', new_task_path %></div>
    </div>
  </head>

<body>
<div class=page-body>
<% @tasks.each do |task| %>
  <div class=task><%= task.title %></div>
<% end %>
<br>
</div>
</body>
</html>
