<DOCTYPE html>
<html>
<body> 
    <div class=detailed-title><%= @task.title.titleize  %></div>
    <div class=detailed-description><%= @task.description.capitalize %></div>
    <div class=detailed-address><%= @task.address.titleize  %></div>

    <div class=map-container>
        <div class=static-map>
            <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=800x600&markers=size:small%7Ccolor:red%7C#{@task.lat},#{@task.lng}&key=#{Rails.application.credentials.google_maps_api_key}", alt: "Map" %>
        </div>
    </div>

</body>

</html>

