<DOCTYPE html>
<html>
<head>


<div class="page-header">
    <div class="header-container">
      <h1>Helping Hands</h1>
      <h3>Helping people help people</h3>
    </div>
    <div class=new-task><%= link_to 'New Task', new_task_path %></div> 
    <div class=new-task><%= link_to('Logout', destroy_user_session_path, method: :delete) %></div> 
    </div>
</head>

<body> 
<div class=detailed-title><%= @task.title %></div>
<br>
<div class=detailed-description><%= @task.description %></div>







</body>


</html>

