<DOCTYPE html>
<html>

<body>
  <div class=center></div>
    <h2> Welcome <%=current_user.name%></h2>
    <%= link_to 'I have a task I need help with', '/tasks/new', class: "btn btn-primary" %>
    <%= submit_tag 'I have a task I need help with', 
        type: 'button', class: "btn btn-primary",
        onclick: "location.href = '/tasks/new'"%>
        <button class="btn btn-primary" onclick="location.href = '/tasks/new'" type="submit">I have a task I  <br>need help with </button>
  </div>
</body>
</html>

