<DOCTYPE html>
<html>

<body>
  <div class=center>
    <h2> Welcome <%=current_user.name%></h2>
    <%= link_to 'Click here to list a task you need help with', '/tasks/new', class: "btn btn-primary" %>
    <%= submit_tag 'Click here to list a task you need help with', 
        type: 'button', class: "btn btn-primary",
        onclick: "location.href = '/tasks/new'"%>
        <button class="btn btn-primary" onclick="location.href = '/tasks/new'" type="submit">Click here to <br>list a task <br>you need help with</button>
  </div>
</body>
</html>

