<DOCTYPE html>
<html>
<body>

  <div id="welcome-image">
    <%# <h1>Welcome to Helping Hands!</h1><br> %><br>
    <img src="https://www.wowamazing.com/wp-content/uploads/2015/11/young-man-elderly-woman-visiting-1080937-print.jpg" alt="Young man helping elderly woman" width="800">
  </div>
  <div id="homepage-box"></div>
</body>
