<DOCTYPE html>
<html>
<head>
<div class="page-header">
    <div class="header-container">
      <h1>Helping Hands</h1>
      <h3>Helping people help people</h3>
    </div>
    </div>
</head>

<body>
<center>
<div class=welcome-login-button><%= link_to('Login', new_user_session_path) %></div>
<div class=welcome-signup-button><%= link_to('Sign Up', new_user_registration_path) %></div>

<div class=video>
<iframe width="840" height="630"
src="https://www.youtube.com/embed/wS6ObWC40b0">
</iframe></div>
</center>

</body>
