<DOCTYPE html>
<html>
<body>
  <div class=welcome-login-button><%= link_to('Login', new_user_session_path) %></div>
  <div class=welcome-signup-button><%= link_to('Sign Up', new_user_registration_path) %></div>
</body>
