<DOCTYPE html>
<html>
<body>
  <div id="welcome_image">
    <%# <h1>Welcome to Helping Hands!</h1><br> %>
    <img src="https://www.wowamazing.com/wp-content/uploads/2015/11/young-man-elderly-woman-visiting-1080937-print.jpg" alt="Young man helping elderly woman" width="1000">
  </div>
</body>
