<DOCTYPE html>
<html>
<body>
<div class="welcome-screen-left">
  <div id="welcome-image">
    <%# <h1>Welcome to Helping Hands!</h1><br> %><br>
    <img src="https://www.wowamazing.com/wp-content/uploads/2015/11/young-man-elderly-woman-visiting-1080937-print.jpg" alt="Young man helping elderly woman" width="800">

  </div>
  <div id="homepage-box"></div>
</div>

<div class="welcome-screen-right">

  <div id="info-box">
    <h1>Start helping others today</h1>

  <p>Helping Hands is a platform connecting volunteers with beneficiaries <br><br>
  Sign up as a volunteer today to help those in need complete short daily tasks or join us as a beneficiary to request support from your community

  </div>

</div>
</body>

