/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1 {
    margin: 1.25rem 0 0 0;
    padding-left: 2rem;
    padding-top: 2rem;
}

h3 {
    margin: 0.5rem 0;
    padding-left: 2rem;
  }

.page-header {
    align-items: left;
    background-color: #c0d1da;
    color: white;
    display: flex;
    border: 0px;
    margin: 0;
    position: relative;
    top: 0;
    width: 100%;

  }
  
.header-container {
    display: flex;
    flex-direction: column;
  }

.page-body {
    display: flex;
    /* left: 5rem */
}

.task-page-body {
    margin: 0px;
    padding: 0px;
}

body { 
    margin: 0;
    padding: 0;
}

.task {

}

.task-title {
    
    display: flex;
    margin: 2rem;
    padding: 3rem;
    border: 2px solid black;
    /* justify-content: space-around; */
    position: relative;
    line-height: 3rem;
    /* margin-bottom: 22px; */    
}

.show-task {
  /* /* margin: 2rem; */
  margin-top: 3rem;
  margin-right: 4rem;
}

.title {color: red;
    display: flex;
    /* margin: 10px;
    padding: 0.5rem;
    right: 2rem; */
}

.new-task {
    color: blue;
    align-items: right;
    display: flex;
    padding: 5rem;
}

.detailed-title {
font-family: Arial, Helvetica, sans-serif;
font-size: 40px;
padding: 2rem;
}

.detailed-description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 2rem;
}

.welcome-login-button {
    margin: 2rem;
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
    font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.welcome-login-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}
.welcome-login-button:active {
	position:relative;
	top:1px;
}

.welcome-signup-button {
    margin: 2rem;
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.welcome-signup-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}
.welcome-signup-button:active {
	position:relative;
	top:1px;
}

label {
	font-size: 1rem;
	float: left;
	clear: none;
	display: block;
	padding: 10px 1em 0 0;
  }
  
  input[type=radio],
  input.radio {
	float: left;
	clear: none;
	margin: 12px 0 0 2px;
	margin-right: 10px;
  }
  
  input[type=checkbox] {
	clear: none;
	margin: 14px 0 0 2px;
	margin-left: -10px;
  }

  input[type=text], input[type=password], input[type=email], textarea {
	width: 100%;
	padding: 10px;
	margin: 8px 0;
	font-size: 1rem;
	border: 1px solid #c3c3c3;
	border-radius: 5px;
  }

  #content {
	text-align: left;
	width: 500px;
	margin: 30px auto 0 auto;
  }

  #single-form {
	  font-size: 1rem;
	  margin: 110px 80px 0;
  }
  .user-type-selector {
	font-size: 1rem;
  }

  .password-field {
	  font-size: 70%;
  }
  
  .btn {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 10px;
	display: inline-flex;
	font: inherit;
	text-decoration: none;
	border: 1px solid #c3c3c3;
	border-radius: 2px;
	font-size: 1rem;
  }

  .btn-primary {
	border-color: #3e488f;
  
	background-color: #7d84ee;
	
	color: white;
  }
  
  .btn-primary:hover {
	background: linear-gradient(#7b7bd2, #434388);
  }